<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DormManage</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
  	<filter-name>loginFilter</filter-name>
  	<filter-class>com.lero.filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>loginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>com.lero.web.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>blankServlet</servlet-name>
  	<servlet-class>com.lero.web.BlankServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>blankServlet</servlet-name>
  	<url-pattern>/blank</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>dormBuildServlet</servlet-name>
  	<servlet-class>com.lero.web.DormBuildServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>dormBuildServlet</servlet-name>
  	<url-pattern>/dormBuild</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>dormManagerServlet</servlet-name>
  	<servlet-class>com.lero.web.DormManagerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>dormManagerServlet</servlet-name>
  	<url-pattern>/dormManager</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>studentServlet</servlet-name>
  	<servlet-class>com.lero.web.StudentServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>studentServlet</servlet-name>
  	<url-pattern>/student</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>recordServlet</servlet-name>
  	<servlet-class>com.lero.web.RecordServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>recordServlet</servlet-name>
  	<url-pattern>/record</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>passwordServlet</servlet-name>
  	<servlet-class>com.lero.web.PasswordServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>passwordServlet</servlet-name>
  	<url-pattern>/password</url-pattern>
  </servlet-mapping>
</web-app>